@using OmneFictio.Web.Models
@using OmneFictio.Web.PostReadModel;
@using System.Security.Claims
@{
    ViewData["Title"] = "Read";
    @section Stylesheets {
        <link rel="stylesheet" href="~/css/read.css" />
    }
    @section Scripts {
        <script src="~/js/read.js"></script>
    }
}
@{
    string userId = "-1";
    string username = "";
    string userPicture = "none"; 
    userId = User.Claims.FirstOrDefault(claim => claim.Type == ClaimTypes.NameIdentifier)?.Value ?? "-1";
    username = User.Claims.FirstOrDefault(claim => claim.Type == ClaimTypes.Name)?.Value ?? "";
    userPicture = User.Claims.FirstOrDefault(claim => claim.Type == ClaimTypes.Actor)?.Value ?? "none";
}
@model ReadViewmodel

<div class="orderby_type-cont" id="orderby-modal">
    <div class="obt-header">
        <div class="obt-title">
            <span>Order By</span>
        </div>
        <div class="obt-close" id="sb-close">
            <i class="bi bi-x-lg"></i>
        </div>
    </div>
    <div class="obt-body">
        <div class="obt-content">
            <div class="obt-item">
                <i class="bi bi-caret-right-fill visible"></i>
                <span>Recent</span>
            </div>
            <div class="obt-item">
                <i class="bi bi-caret-right-fill"></i>
                <span>Oldest</span>
            </div>
            <div class="obt-item">
                <i class="bi bi-caret-right-fill"></i>
                <span>Rate</span>
            </div>
            <div class="obt-item">
                <i class="bi bi-caret-right-fill"></i>
                <span>Points</span>
            </div>
        </div>
    </div>
</div>

<div class="orderby_type-cont" id="type-modal">
    <div class="obt-header">
        <div class="obt-title">
            <span>Type</span>
        </div>
        <div class="obt-close" id="t-close">
            <i class="bi bi-x-lg"></i>
        </div>
    </div>
    <div class="obt-body">
        <div class="obt-content">
            <div class="obt-item">
                <i class="bi bi-caret-right-fill visible"></i>
                <span>All</span>
            </div>
            <div class="obt-item">
                <i class="bi bi-caret-right-fill"></i>
                <span>Fanfiction</span>
            </div>
            <div class="obt-item">
                <i class="bi bi-caret-right-fill"></i>
                <span>Original</span>
            </div>
            <div class="obt-item">
                <i class="bi bi-caret-right-fill"></i>
                <span>Plot</span>
            </div>
            <div class="obt-item">
                <i class="bi bi-caret-right-fill"></i>
                <span>Scenerio</span>
            </div>
        </div>
    </div>
</div>

<div class="filter-cont" id="filter-modal">
    <div class="f-header">
        <div class="f-reset_cont">
            <input type="button" value="Reset" id="f-resetbtn">
        </div>
        <div class="f-close" id="f-close">
            <i class="bi bi-x-lg"></i>
        </div>
    </div>
    <div class="f-body">
        @{
            string typeQuery = Context.Request.Query["Type"];
            /*if(typeQuery != "fanfiction" && typeQuery != "plot"){
                <div class="f-type_cont">
                    <input type="button" class="f-typebtns" value="Story +" data-type="story">
                    <input type="button" class="f-typebtns" value="Scenerio +" data-type="scenerio">
                    <!--<input type="hidden" name="chosentypes" value="scenerio"/>
                    <input type="hidden" name="chosentypes" value="story"/>-->
                </div>
            }*/
            if(typeQuery == "fanfiction"){
                <div class="f-fanfiction_settings">
                    <div class="ffs-header">
                        <button data-button="choose_series" id="fanfic-chooseseries"><i class="bi bi-search"></i> Series <i class="bi bi-plus"></i></button>
                        <!--<button data-button="add_crossover" id="fanfic-choosecrossover">Crossover<i class="bi bi-plus"></i></button>
                        <input type="button" class="" value="Series" data-button="choose_series">
                        <input type="button" class="" value="Crossover +" data-button="add_crossover">-->
                    </div>
                    <div class="ffs-series_include">
                        <!--
                        <span data-fseries="konosuba">Konosuba<i class="bi bi-x-circle f-removeseriesbtn"></i></span>
                        <input type="hidden" name="seriesinclude" value="konosuba"/>
                        -->
                    </div>
                </div>
            }
        }
        
        <!--<span>Type:</span>
        <input type="button" class="f-typebtns" value="Fanfiction +" data-type="fanfiction">
        <input type="hidden" name="chosentypes" value="fanfiction-0" data-typeref="fanfiction"/>
        <input type="button" class="f-typebtns" value="Plot +" data-type="plot">
        <input type="hidden" name="chosentypes" value="plot-0" data-typeref="plot"/>
        -->
        <div class="f-options">
            <select name="minrate">
                <option value="0">Min rate</option>
                <option value="5">5+</option>
                <option value="6">6+</option>
                <option value="7">7+</option>
                <option value="8">8+</option>
                <option value="9">9+</option>
            </select>
            <select name="language">
                <option value="0">Language</option>
                <option value="1">Turkish</option>
                <option value="2">English</option>
                <option value="3">French</option>
                <option value="4">German</option>
                <option value="5">Japanese</option>
            </select>
            <select name="poststatus">
                <option value="0">Cur. state</option>
                <option value="1">In progress</option>
                <option value="2">Dropped</option>
                <option value="3">Finished</option>
            </select>
            <label class="f-allow18">
                <span>+18</span>
                <input type="checkbox" name="allow18" id="allow18checkbox" value="1">
            </label>
            <select name="lastupdate">
                <option value="0">Last update</option>
                <option value="1">&#60; 1 day</option>
                <option value="2">&#60; 3 day</option>
                <option value="3">&#60; 1 week</option>
                <option value="4">&#60; 2 week</option>
                <option value="5">&#60; 1 month</option>
                <option value="6">&#60; 2 month</option>
            </select>
        </div>
        <div class="f-tagsbtn_cont">
            <button class="f-includetag" id="f-includetagbtn">Tags<i class="bi bi-plus"></i></button>
            <button class="f-excludetag" id="f-excludetagbtn">Tags<i class="bi bi-dash"></i></button>
            <!--
            <input type="button" value="Tags +" class="f-includetag" id="f-includetagbtn">
            <input type="button" value="Tags -" class="f-excludetag" id="f-excludetagbtn">
            -->
        </div>
        <div class="f-tagsincexc f-tags_include">
            <!--
            <span data-ftag="comedy">Comedy<i class="bi bi-x-circle f-removetagbtn"></i></span>
            <input type="hidden" name="taginclude" value="comedy" data-ftagref="comedy"/>
            -->
        </div>
        <div class="f-tagsincexc f-tags_exclude">
            <!--
            <span data-ftag="romance">Romance<i class="bi bi-x-circle f-removetagbtn"></i></span>
            <input type="hidden" name="tagexclude" value="romance" data-ftagref="romance"/>
            -->
        </div>
    </div>
    <div class="f-submit_cont">
        <input type="submit" id="f-submitbtn" value="Filter">
    </div>
</div>

<div class="filter-tagdd" id="filter-tagddmodal">
    <div class="tagdd-header">
        <input type="text" class="tagdd-searchbar" id="tagdd-searchbar" placeholder="Search tag">
        <i class="bi bi-x-lg" id="f-taggdd-close"></i>
    </div>
    <ul class="" id="f-tagdd-list" data-action="include">
        <li data-tagddvalue="action">Action</li>
        <li data-tagddvalue="comedy">Comedy</li>
        <li data-tagddvalue="fantasy">Fantasy</li>
        <li data-tagddvalue="romance">Romance</li>
        <li data-tagddvalue="dram">Dram</li>
        <li data-tagddvalue="horror">Horror</li>
        <li data-tagddvalue="adventure">Adventure</li>
        <li data-tagddvalue="science_fiction">Science fiction</li>
    </ul>
</div>
<div class="filter-addseries" id="filter-addseriesmodal">
    <div class="fadds-header">
        <input type="text" class="fadds-searchbar" id="fadds-searchbar" placeholder="Search">
        <i class="bi bi-x-lg" id="fadds-close"></i>
    </div>
    <div class="fadds-dropdowns">
        <select>
            <option value="Type">Type</option>
            <option value="Book">Book</option>
            <option value="Movie">Movie</option>
            <option value="TV Show">TV Show</option>
            <option value="Game">Game</option>
            <option value="Anime">Anime</option>
            <option value="Cartoon">Cartoon</option>
            <option value="Comic/Manga">Comic/Manga</option>
        </select>
        <select>
            <option value="AZ">A-Z</option>
            <option value="Others">Others</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="G">G</option>
            <option value="H">H</option>
            <option value="I">I</option>
            <option value="J">J</option>
            <option value="K">K</option>
            <option value="L">L</option>
            <option value="M">M</option>
            <option value="N">N</option>
            <option value="O">O</option>
            <option value="P">P</option>
            <option value="Q">Q</option>
            <option value="R">R</option>
            <option value="S">S</option>
            <option value="T">T</option>
            <option value="U">U</option>
            <option value="V">V</option>
            <option value="W">W</option>
            <option value="X">X</option>
            <option value="Y">Y</option>
            <option value="Z">Z</option>
        </select>
    </div>
    <ul class="fadds-list" id="fadds-list">
        <li data-seriesval="Overlord">Overlord</li>
        <li data-seriesval="Harry_Potter">Harry Potter</li>
        <li data-seriesval="The_Boys">The Boys</li>
        <li data-seriesval="Stranger_Things">Stranger Things</li>
        <li data-seriesval="Breaking_Bad">Breaking Bad</li>
        <li data-seriesval="Game_of_Thrones">Game of Thrones</li>
        <li data-seriesval="Hunger_Games">Hunger Games</li>
        <li data-seriesval="Pirates_of_the_Caribbean">Pirates of the Caribbean</li>
    </ul>
</div>

<nav class="nav-cont">
    <div class="nav-primary">
        <div class="nlink-cont np-readingtime">
            <a class="navlink_original" asp-controller="Home" asp-action="Read" asp-route-type="story">Story</a>
            <a class="navlink_scenario" asp-controller="Home" asp-action="Read" asp-route-type="scenario">Scenario</a>
            <a class="navlink_fanfiction" asp-controller="Home" asp-action="Read" asp-route-type="fanfiction">Fanfiction</a>
            <a class="navlink_original" asp-controller="Home" asp-action="Read" asp-route-type="plot">Plot</a>
        </div>
        <div class="nlink-cont np-aboutyou">
            <a class="">Library</a>
            <a class="">My Stuff</a>
            <a class="">History</a>
        </div>
    </div>
    <div class="nav-ad1">

    </div>
    <div class="nav-others">
        <a class="">Requests</a>
        <a class="">Community</a>
        <a class="">Shop</a>
        <a class="">Customize</a>
        <a class="">Settings</a>
        <a class="">News</a>
        <a class="">Tutorials</a>
    </div>
</nav>
<div class="posts-cont">
    <div class="post-options">
        <div class="po-orderby">
            <p class="orderby-btn po-option" id="orderby-btn">Order By</p>
            <p class="orderby-value">(Recent)</p>
        </div>
        <!--
        <span class="po-type po-option" id="po-type">
            Type
        </span>
        -->
        <span class="po-filters po-option" id="po-filter">
            Filter
        </span>
    </div>

    @{
        if(Model.posts.Count > 0){
            foreach(PostRead1 post in Model.posts){
                /*if(post.id != 5){
                    continue;
                }*/
                <div class="post" id="post-@post.id">
                    <div class="post-detail d-flex">
                        <div class="p-header">
                            <div class="p-title">
                                <span>@post.title</span>
                                <span class="p-date">@post.publishDate.Date.ToShortDateString()</span>
                            </div>
                            <div class="p-menu">
                                <i class="bi bi-caret-left p-menubtn"></i>
                            </div>
                        </div>
                        <div class="p-body">
                            @if(post.coverImage != null){
                                <div class="p-cover">
                                    <img src="@post.coverImage">
                                </div>
                            }
                            <span>@post.postDescription</span>
                        </div>
                        <div class="p-footer">
                            <div class="pf-evaluation">
                                @{
                                    int votedByUser = -2; // -2 means not logged in  (maybe temporary)
                                    if(userId != "-1"){
                                        if(post.votes.SingleOrDefault(p => p.accountId == Convert.ToInt32(userId) && p.body == true) != null){
                                            votedByUser = 1;
                                        }
                                        else if(post.votes.SingleOrDefault(p => p.accountId == Convert.ToInt32(userId) && p.body == false) != null){
                                            votedByUser = 0;
                                        }
                                        else{
                                            votedByUser = -1;
                                        }
                                    }
                                    
                                    if(votedByUser == 1){
                                        <i class="bi bi-hand-thumbs-up-fill active post-vote p-likebtn" data-action="like"></i>
                                    }
                                    else if(votedByUser == 0 || votedByUser == -1){
                                        <i class="bi bi-hand-thumbs-up post-vote p-likebtn" data-action="like"></i>
                                    }
                                    else if(votedByUser == -2){
                                        <i class="bi bi-hand-thumbs-up p-likebtn"></i>
                                    }
                                }
                                <span class="p-likes">
                                    @{
                                        int likes = 0;
                                        string negative = "--";
                                        foreach(Vote value in post.votes){
                                            if(value.body == true)
                                                likes++;
                                            else
                                                likes--;
                                        }
                                        /*
                                        if(post.votes != null){
                                            if(post.votes.Count > 0){
                                            }
                                        }*/
                                        
                                        if(likes >= 0)
                                            @likes
                                        else
                                            @negative
                                    }
                                </span>
                                @{
                                    if(votedByUser == 0){
                                        <i class="bi bi-hand-thumbs-down-fill active post-vote p-dislikebtn" data-action="dislike"></i>
                                    }
                                    else if(votedByUser == 1 || votedByUser == -1){
                                        <i class="bi bi-hand-thumbs-down post-vote p-dislikebtn" data-action="dislike"></i>
                                    }
                                    else if(votedByUser == -2){
                                        <i class="bi bi-hand-thumbs-down p-dislikebtn"></i>
                                    }

                                    if(likes >= 0){
                                        int untouchedLikes = likes;
                                        if(votedByUser == 1){
                                            untouchedLikes = likes - 1;
                                        } else if (votedByUser == 0){
                                            untouchedLikes = likes + 1;
                                        }
                                        <input type="hidden" id="postvote-@post.id" value="@untouchedLikes">
                                    }
                                    else{
                                        <input type="hidden" id="postvote-@post.id" value="--">
                                    }
                                }
                                <span class="p-rate">
                                    @{
                                        double rate = 0;
                                        if(post.rates.Count > 0){
                                            foreach(Rate value in post.rates){
                                                if(value.body >= 0 && value.body <= 10)
                                                    rate += value.body;
                                            }
                                            string ortRate = Math.Round((rate / post.rates.Count), 1).ToString() + "/10";
                                            @ortRate
                                        }
                                        else{
                                            @Html.Raw("--/10");
                                        }
                                    }
                                </span>
                            </div>
                            <div class="pf-user">
                                @if(post.account != null){
                                    <span class="p-username p-deleted_user">@post.account.username</span>
                                }else{
                                    <span class="p-username">DeletedUser</span>
                                }
                                <img src="https://uybor.uz/borless/avtobor/img/user-images/user_no_photo_300x300.png">
                            </div>
                        </div>
                    </div>
                    <div class="post-menu d-none">
                        <div class="pd-details">
                            <span class="pd-heading">
                                Tags
                            </span>
                            <div class="pd-tags">
                                @if(post.tags.Count < 1){
                                    <span>Empty</span>
                                } else{
                                    foreach(Tag tag in post.tags){
                                        <span>@tag.body</span>
                                    }
                                }
                                <!--<span>Action</span>-->
                            </div>
                            <div class="pd-type">
                                <span class="pd-heading">Type:</span>
                                <span class="pd-value">
                                    @if(post.postType != null){
                                        @post.postType.body
                                    }else{
                                        @Html.Raw("None")
                                    }
                                </span>
                            </div>
                            @if(post.existingStories.Count > 0){
                                <span class="pd-heading">
                                    Based on
                                </span>
                                <div class="pd-series">
                                    @foreach(ExistingStory story in post.existingStories){
                                        <span>@story.body</span>
                                    }
                                    <!--<span>Pirates of the Caribbean</span>-->
                                </div>
                            }
                            <div class="pd-poststatus">
                                <span class="pd-heading">Status:</span>
                                <span class="pd-value">
                                    @if(post.postStatus != null){
                                        @post.postStatus.body
                                    }else{
                                        @Html.Raw("None")
                                    }
                                </span>
                            </div>
                            <div class="pd-language">
                                <span class="pd-heading">Language:</span>
                                <span class="pd-value">
                                    @if(post.language != null){
                                        @post.language.body
                                    }else{
                                        @Html.Raw("None")
                                    }
                                </span>
                            </div>
                        </div>
                        <div class="pd-right">
                            <div class="pd-close">
                                <i class="bi bi-caret-down pd-closebtn"></i>
                            </div>
                            <div class="pd-actions">
                                <button type="button" class="pd-saved">Save</button>
                                <button type="button">Share</button>
                                <button type="button">Report</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else{
            <div class="read-nopost"><span>We have failed to provide you service :(</span></div>
        }
    }
    
    <!--
    <div class="post">
        <div class="post-detail d-flex">
            <div class="p-header">
                <div class="p-title">
                    <span>Davy Jones</span>
                    <span class="p-date">27/07/022</span>
                </div>
                <div class="p-menu">
                <i class="bi bi-caret-left p-menubtn"></i>
                </div>
            </div>
            <div class="p-body">
                Jones fell in love with the goddess Calypso. He agreed to guide the dead but Calypso was a bi*ch. When he returned from duty, she was not there.
            </div>
            <div class="p-footer">
                <div class="pf-evaluation">
                    <i class="bi bi-hand-thumbs-up p-likebtn"></i>
                    <span class="p-likes">5465</span>
                    <i class="bi bi-hand-thumbs-down p-dislikebtn"></i>
                    <span class="p-rate">7.4/10</span>
                </div>
                <div class="pf-user">
                    <span class="p-username">MrBombastic</span>
                    <img src="https://uybor.uz/borless/avtobor/img/user-images/user_no_photo_300x300.png">
                </div>
            </div>
        </div>
        <div class="post-menu d-none">
            <div class="pd-details">
                <span class="pd-heading">
                    Tags
                </span>
                <div class="pd-tags">
                    <span>Action</span>
                    <span>Comedy</span>
                    <span>Mystery</span>
                    <span>Fantasy</span>
                    <span>Romance</span>
                    <span>Western</span>
                </div>
                <div class="pd-type">
                    <span class="pd-heading">Type:</span>
                    <span class="pd-value">Fanfiction</span>
                </div>
                <div class="pd-poststatus">
                    <span class="pd-heading">Status:</span>
                    <span class="pd-value">In-progress</span>
                </div>
                <div class="pd-language">
                    <span class="pd-heading">Language:</span>
                    <span class="pd-value">English</span>
                </div>
            </div>
            <div class="pd-right">
                <div class="pd-close">
                    <i class="bi bi-caret-down pd-closebtn"></i>
                </div>
                <div class="pd-actions">
                    <button type="button" class="pd-saved">Save</button>
                    <button type="button">Share</button>
                    <button type="button">Report</button>
                </div>
            </div>
        </div>
    </div>
    -->
</div>