@using System.Security.Claims

@inject IHttpContextAccessor Accessor
@{
    string? userId = User.FindFirst("nameid")?.Value ?? null;
    string? username = User.FindFirst("unique_name")?.Value ?? null;
    string? userPicture = User.FindFirst("actort")?.Value ?? null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<meta name="google-signin-client_id" content="589655350334-bdk3rgelbo3i4otkj08f2hvc69g1lql4.apps.googleusercontent.com" />
    -->

    <title>@ViewData["Title"] - OmneFictio</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Doppio+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gudea&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/theme.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("Stylesheets", required: false)
    @RenderSection("ScriptsHead", required: false)
</head>

<body class="darkmode">
    <input type="hidden" id="userid_utility" value="@userId">
    <div id="g_id_onload" data-client_id="589655350334-bdk3rgelbo3i4otkj08f2hvc69g1lql4.apps.googleusercontent.com"
        data-ux_mode="popup" data-callback="googleHandleCredentialResponse" data-skip_prompt_cookie="UserAuth">
        <!--data-login_uri="https://localhost:7067/Auth/GoogleSigninDirectly">-->
    </div>
    <div class="modalbg1"></div>
    <div class="modalbg2"></div>


    <template id="postSkeleton">
        <div class="post post-skel">
            <div class="pskel-header">
                <div class="pskel-title psk-item"></div>
                <i class="bi bi-three-dots psk-item"></i>
            </div>
            <div class="pskel-body">
                <div class="pskel-desc psk-item"></div>
                <div class="pskel-desc psk-item"></div>
            </div>
            <div class="pskel-footer">
                <div class="pskel-evaluation psk-item"></div>
                <div class="pskel-uname psk-item"></div>
                <i class="bi bi-person-circle psk-item"></i>
            </div>
        </div>
    </template>
    <template id="postList-post">
        <div class="post" data-postid="post.id">
            <div class="post-body">
                <div class="p-header">
                    <div class="p-title">
                        <a href="">

                        </a>
                        <span class="p-date">

                        </span>
                    </div>
                    <div class="p-menu">
                        <!--<i class="bi bi-caret-left p-menubtn"></i>-->
                        <i class="bi bi-three-dots p-menuicon"></i>
                        <i class="bi bi-info-circle p-infoicon"></i>
                        <div class="p-info">
                            <div class="pi-primary">
                                <span class="pi-type">

                                </span>
                                <span class="pi-language">

                                </span>
                                <span class="pi-status">

                                </span>
                                <span class="pi-rating">

                                </span>
                            </div>
                            <div class="pi-tags">

                            </div>
                            <div class="pi-series">

                            </div>
                            <div class="pi-details">
                                <div class="pi-detail-column">
                                    <i class="bi bi-card-text"></i>
                                    <span class="pi-amount_of_chapters">

                                    </span>
                                </div>
                                <div class="pi-detail-column">
                                    <i class="bi bi-body-text"></i>
                                    <span class="pi-amount_of_words">

                                    </span>
                                </div>
                                <div class="pi-detail-column">
                                    <i class="bi bi-chat-right"></i>
                                    <span class="pi-amount_of_comments">

                                    </span>
                                </div>
                                <div class="pi-detail-column">
                                    <i class="bi bi-clock"></i>
                                    <span class="pi-last_update">

                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-body">
                    <div class="p-cover">
                        <img src="" onerror="this.onerror=null; this.closest('.p-cover').remove()">
                    </div>
                    <span>

                    </span>
                </div>
                <div class="p-footer">
                    <div class="p-evaluation">
                        <i class='bi bi-hand-thumbs-up likebtn' data-action='like' data-target_type='post'></i>
                        <span class="p-likes vote_count">--</span>
                        <i class='bi bi-hand-thumbs-down dislikebtn' data-action='dislike' data-target_type='post'></i>
                        <span class="p-rate">

                        </span>
                    </div>
                    <div class="p-user belongs_to">
                        <span class="p-username">

                        </span>
                        <div class="usercard-onhover ucard-mode2">
                            <span class="ucard-username">MrBombastic</span>
                            <img src='/images/onerror/user_no_photo_300x300.png'>
                            <div class="ucard-part2">
                                <span class="ucard-username-mode2">MrBombastic</span>
                                <p class="ucard-description">Hello, this is my default description. I give information here.
                                </p>
                                <div class="ucard-stats">
                                    <div class="ucard-likes">
                                        <i class="bi bi-hand-thumbs-up"></i>
                                        <span>90K</span>
                                    </div>
                                    <div class="ucard-follows">
                                        <i class="bi bi-heart"></i>
                                        <span>600</span>
                                    </div>
                                    <div class="ucard-published">
                                        <i class="bi bi-card-text"></i>
                                        <span>14</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<span class="p-username p-deleted_user">DeletedUser</span>-->
                        <img src="" onerror="this.onerror=null; this.src='/images/onerror/user_no_photo_300x300.png'">
                    </div>
                </div>
            </div>
        </div>
    </template>

    <template id="comment_instance">
        <div class="comment-cont">
            <div class="comment" data-commentid="">
                <div class="c-header">
                    <img src="/images/users/user_no_photo_300x300.png">
                    <span class="c-username">

                    </span>
                    <span class="c-date">

                    </span>
                    <div class="c-menu">
                        <i class="bi bi-three-dots"></i>
                    </div>
                    <ul class="c-menupopup">
                        <li>Report</li>
                        <li>Block User</li>
                    </ul>
                </div>
                <div class="c-text">
                    <span>

                    </span>
                </div>
                <div class="c-footer">
                    <div class="c-evaluation">
                        <i class="bi bi-hand-thumbs-up likebtn" data-action="like" data-target_type="comment"></i>
                        <span class="c-likes vote_count">--</span>
                        <i class="bi bi-hand-thumbs-down dislikebtn" data-action="dislike"
                            data-target_type="comment"></i>
                        <a href="#" class="c-replybtn">Reply</a>
                    </div>
                    <div class="get_replies">
                        <span class="get_replies-text">

                        </span>
                    </div>
                </div>
            </div>
            <div class="reply" data-replyid="">
                <div class="r-text">
                    <span>

                    </span>
                </div>
                <div class="r-footer">
                    <div class="r-evaluation">
                        <i class="bi bi-hand-thumbs-up likebtn" data-action="like" data-target_type="reply"></i>
                        <span class="r-likes vote_count">--</span>
                        <i class="bi bi-hand-thumbs-down dislikebtn" data-action="dislike" data-target_type="reply"></i>
                        <span class="r-gotoreply">GO</span>
                    </div>
                    <div class="r-user">
                        <span class="r-username">

                        </span>
                        <img src="/images/users/user_no_photo_300x300.png">
                    </div>
                </div>
            </div>
        </div>
    </template>

    <template id="modalReplies-comment">
        <div class="mr-comment" data-commentid="">
            <div class="mrc-header">
                <img src="/images/users/user_no_photo_300x300.png"
                    onerror="this.onerror=null; this.src='/images/onerror/user_no_photo_300x300.png'">
                <span class="mrc-username">

                </span>
                <span class="mrc-date">

                </span>
                <div class="mrc-menu">
                    <i class="bi bi-three-dots"></i>
                </div>
            </div>
            <div class="mrc-text">
                <span>

                </span>
            </div>
            <div class="mrc-footer">
                <div class="mrc-evaluation">
                    <i class="bi bi-hand-thumbs-up likebtn" data-action="like" data-target_type="comment"></i>
                    <span class="mrc-likes vote_count">--</span>
                    <i class="bi bi-hand-thumbs-down dislikebtn" data-action="dislike" data-target_type="comment"></i>
                    <a href="#" class="mrc-replybtn">Reply</a>
                </div>
            </div>
        </div>
    </template>
    <template id="modalReplies-reply">
        <div class="mr-reply" data-replyid="">
            <div class="mrr-header">
                <img src="/images/users/user_no_photo_300x300.png"
                    onerror="this.onerror=null; this.src='/images/onerror/user_no_photo_300x300.png'">
                <span class="mrr-username">

                </span>
                <span class="mrr-date">

                </span>
                <div class="mrr-menu">
                    <i class="bi bi-three-dots"></i>
                </div>
            </div>
            <div class="mrr-text">
                <span>

                </span>
            </div>
            <div class="mrr-footer">
                <div class="mrr-evaluation">
                    <i class="bi bi-hand-thumbs-up likebtn" data-action="like" data-target_type="reply"></i>
                    <span class="mrr-likes vote_count">--</span>
                    <i class="bi bi-hand-thumbs-down dislikebtn" data-action="dislike" data-target_type="reply"></i>
                    <a href="#" class="mrr-replybtn">Reply</a>
                </div>
            </div>
        </div>
    </template>


    <div class="modal-replies" id="modal-replies">
        <div class="mr-header">
            <span>Replies</span>
            <div class="mr-close" id="mr-close">
                <i class="bi bi-x-lg"></i>
            </div>
        </div>
        <div class="mr-body">

        </div>
    </div>


    <form class="login-modal" id="login-modal">
        <div class="lm-header">
            <span class="lm-title">Login</span>
            <div class="lm-closebtn">
                <i class="bi bi-x-lg"></i>
            </div>
        </div>
        <div class="lm-primary">
            <input type="text" placeholder="Username/Email" name="Username" class="lm-textbox">
            <input type="password" placeholder="Password" name="Pw" class="lm-textbox">
            <input type="submit" value="Login" class="lm-submit">
            <span class="lm-message" id="loginmodal-message"></span>
            <span class="lm-success" id="loginmodal-success"></span>
        </div>
        <div class="lm-loginwith">
            <div class="g_id_signin" data-type="standart"></div>
        </div>
        <div class="lm-forgot">
            <span>I forgot <a href="#">something</a></span>
        </div>
        <div class="lm-rememberme">
            <label><span>Remember me</span><input type="checkbox" name="RememberMe" value="true" checked></label>
            <a asp-controller="Home" asp-action="Register">Sign Up</a>
        </div>
    </form>
    <div class="drawer" id="drawer">
        <div class="dw-top">
            <div class="dw-account">
                <div class="dw-userimg">
                    @if (userPicture != null && userId != null)
                    {
                        @Html.Raw("<img src='/images/users/" + userPicture + "'/>")
                    }
                    else
                    {
                        <i class="bi bi-person-square"></i>
                    }
                </div>
            </div>
            <div class="dw-close">
                <i class="bi bi-x-lg"></i>
            </div>
        </div>
        <div class="dw-username">
            @if (userId != null)
            {
                <span>@username</span>
            }
            else
            {
                <span class="dw-username">--</span>
            }
        </div>
        <div class="dw-mainpage">
            <a href="/">OmneFictio</a>
        </div>
        <div class="dw-list">
            <ul>
                @if (userId != null)
                {
                    <li><a href="/u/@username">
                            <div class="dw-icon-cont"><i class="bi bi-person"></i></div>Profile
                        </a></li>
                    <li><a href="/settings/library">
                            <div class="dw-icon-cont"><i class="bi bi-collection"></i></div>Library
                        </a></li>
                    <li><a href="/settings/friends">
                            <div class="dw-icon-cont"><i class="bi bi-people"></i></div>Friends
                        </a></li>
                }
                else
                {
                    <li><a class="login-openbtn">
                            <div class="dw-icon-cont"><i class="bi bi-person"></i></div>Login
                        </a></li>
                    <li><a href="/Register">
                            <div class="dw-icon-cont"><i class="bi bi-person-plus"></i></div>Register
                        </a></li>
                }
                <li><a href="#">
                        <div class="dw-icon-cont"><i class="bi bi-cart"></i></div>Shop
                    </a></li>
                <li><a href="/settings">
                        <div class="dw-icon-cont"><i class="bi bi-gear"></i></div>Settings
                    </a></li>
            </ul>
        </div>
        @if (userId != null)
        {
            <a asp-controller="Auth" asp-action="Logout" class="dw-redbutton">
                <div class="dw-icon-cont"><i class="bi bi-box-arrow-left"></i></div>Logout
            </a>
        }
    </div>
    <header>
        <div class="container-fluid header-wrap">
            <div class="drawerbtn-cont">
                <i class="bi bi-list"></i>
            </div>
            <div class="logo-cont">
                <span><a asp-controller="Home" asp-action="Index">OmneFictio</a></span>
            </div>
            <div class="searchbar-cont">
                <div class="searchbar-wrap">
                    <i class="bi bi-search"></i>
                    <input type="text" placeholder="Search" class="searchbar">
                </div>
            </div>
            <div class="header_right_section">
                <div class="shortcuts-cont">
                    <i class="bi bi-search search-shortcut"></i>
                    <i class="bi bi-chat-dots chat-shortcut"></i>
                    <a href="/Publish"><i class="bi bi-plus-circle"></i></a>
                    <i class="bi bi-bell notifications-shortcut"></i>
                </div>
                <div class="account-cont">
                    <div class="ppic-wrap">
                        @{
                            if (userId != null)
                            {
                                @Html.Raw("<img src='/images/users/" + userPicture + "'/>")
                            }
                            else
                            {
                                <i class="bi bi-person-square"></i>
                            }
                        }
                        <!--<img src="https://icon-library.com/images/no-user-image-icon/no-user-image-icon-0.jpg">-->
                    </div>
                    <div class="dropdown_icon-wrap">
                        <i class="bi bi-caret-down-fill"></i>
                    </div>
                    <div class="account-dropdown">
                        <div class="ad-theme-cont">
                            <label class="theme-switch">
                                <input type="checkbox" id="theme-check">
                                <span class="theme-slider"></span>
                            </label>
                        </div>
                        <ul>
                            @if (userId != null)
                            {
                                <li><a class="ad-username">@username</a></li>
                                <li><a href="/u/@username">Profile</a></li>
                                <li><a href="/settings/library">Library</a></li>
                                <li><a href="/settings/friends">Friends</a></li>
                            }
                            else
                            {
                                <li><a class="login-openbtn">Login</a></li>
                                <li><a href="/Register">Register</a></li>
                            }
                            <li><a href="#">Shop</a></li>
                            <li><a href="/settings">Settings</a></li>
                        </ul>
                        @if (userId != null)
                        {
                            <a asp-controller="Auth" asp-action="LogOut" class="acc_dd_redbutton">Logout</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container main-cont">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://accounts.google.com/gsi/client" async defer></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!--RenderSection("Scripts", required: false)-->
</body>

</html>
